@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.footer{
    border-radius: 42px 42px 0 0;
}

.invert-color{
    filter: brightness(0) invert(1);
}

.cat-logo{
    width: 300px;
}

.hero-styles{
    background-size: 100% 100%;
    background-image: url('../assets/HeroImagelg.png');
    height: 550px;
}

.results-box{
    width: 290px;
    overflow-y: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    color: black;
}

.results-box_content{
    outline: none;
    font-weight: 600;
}

.results-box::-webkit-scrollbar{
    width: 14px;
    margin-right: 10px;
}

.results-box::-webkit-scrollbar-track {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #F2F2F2;
  }

.results-box::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #AAAAAA;
}


@media only screen and (max-width: 1200px) {
    .hero-styles{
        background-image: url('../assets/HeroImagemd.png');
        height: 400px;
    }
    .cat-logo{
        width: 250px;
    }
}